header {
    color:cadetblue;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;

}

main {
    display: flex;
    flex-direction: column;
}

#personal-info {
    margin-top: 3px;
}

#formulario {
    border: solid 2px black;
    height: 400px;
    margin: auto;
    padding: 2em;
    width: 400px;
    text-align: center;
}

#buttons {
    margin: auto;
}